<div class="ui center aligned segment">
  {{#link-to 'addresses.new'}}
  <button class="ui primary icon button">
    <i class="icon plus"></i> New address
  </button>
  {{/link-to}}
  <table class="ui table">
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Street</th>
      <th>City</th>
      <th>Country</th>
      <th></th>
    </thead>
    <tbody>
      {{#each model as |address|}}
        <tr>
          <td>
            {{#link-to 'addresses.edit' address.id}}
              {{address.firstName}}
            {{/link-to}}
          </td>
          <td>{{address.lastName}}</td>
          <td>{{address.street}}</td>
          <td>{{address.city}}</td>
          <td>{{address.country}}</td>
          <td>
            {{#link-to 'addresses.delete' address.id class="ui mini negative icon button"}}
              <i class="icon trash"></i>
            {{/link-to}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
